<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/css/global.css">
    <link rel="stylesheet" href="/assets/css/room.css">
    <link rel="stylesheet" href="/assets/css/modal.css">
    <link rel="icon" href="/assets/images/icon.svg" type="image/x-icon">
    <title>Perguntas e Respostas - Rocket.Q</title>
</head>
<body>
        <div class="content" id="room">
            <header>
                <a href="/">
                    <img src="/assets/images/logo.svg" alt="Rocket.Q Logo">
                </a>

                <div class="buttons">
                    <div class="button outlined" id="room-id" data-id="<%= roomId %>">
                        #<%= roomId %>
                        <img src="/assets/images/copy.svg" alt="Copiar número da sala">
                    </div>

                    <a href="/create-pass" class="button">
                        <img src="/assets/images/users-1.svg" alt="Criar Sala">
                        Criar Sala
                    </a>
                </div>
            </header>

            <main>
                <section id="question-form">
                    <h2>Faça sua pergunta</h2>
                    <form action="/question/create/<%= roomId %>" method="POST">
                        <label for-id="question" class="sr-only">O que você quer perguntar?</label>
                        <textarea name="question" id="question" placeholder="O que você quer perguntar?"></textarea>

                        <footer>
                            <div>
                                <img src="/assets/images/lock.svg" alt="Pergunta anônima">
                                Esta pergunta é anônima
                            </div>
                            <button>Enviar</button>
                        </footer>
                    </form>
                </section>

                <section id="questions">
                    <h2 class="sr-only">Perguntas da comunidade</h2>
                    <div class="questions">

                        <% if(isNoQuestions) { %>
                            <%- include('parts/no-question'); %>
                        <% } %>

                        <% questions.forEach(question => { %>
                            <div class="question-wrapper">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="/assets/images/user.svg" alt="Usuário">
                                    </div>
                                    <div class="question">
                                        <p><%= question.title %></p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="check" data-id="<%= question.id %>">
                                        <img src="/assets/images/check.svg" alt="Marcar como lida">
                                        Marcar como lida
                                    </a>
    
                                    <a href="#" class="delete" data-id="<%= question.id %>">
                                        <img src="/assets/images/trash.svg" alt="Excluir">
                                        Excluir
                                    </a>
                                </div>
                            </div>
                        <% }); %>

                        <% questionsRead.forEach(questionRead => { %>
                            <div class="question-wrapper read">
                                <div class="question-content">
                                    <div class="user">
                                        <img src="/assets/images/user.svg" alt="Usuário">
                                    </div>
                                    <div class="question">
                                        <p><%= questionRead.title %></p>
                                    </div>
                                </div>
                                <div class="actions">
                                    <a href="#" class="delete" data-id="<%= questionRead.id %>">
                                        <img src="/assets/images/trash.svg" alt="Excluir">
                                        Excluir
                                    </a>
                                </div>
                            </div>
                        <% }); %>

                        
                    </div>
                </section>
            </main>
        </div>

        <div class="modal-wrapper">
            <div class="modal">
                <h2>Excluir Pergunta</h2>
                <p>Tem certeza que você deseja excluir esta pergunta?</p>

                <form action="#" method="POST">
                    <label class="sr-only" for-id="password">Digite sua senha admin</label>
                    <input type="password" id="password" name="password" placeholder="Digite sua senha">
                    
                    <div class="buttons">
                        <div class="button grey cancel">Cancelar</div>
                        <button class="red">Sim, excluir</button>
                    </div>
                </form>
            </div>
        </div>

        <script src="/assets/js/main.js" defer type="module"></script>
    </body>
</html>